@import 'styles/_var';

html {
  height: 100%;
  font-family: Boon;
  font-size: 14px;
  line-height: (18/14);
  background-color: #f0f0f0;
  color: #484848;

  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  a {
    color: inherit;
  }

  button {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
  }
}

body {
  min-height: 100%;
  @include flex(column, flex-start);
}

#root {
  width: 100%;
  padding-top: $navbarHeight + 50px;
  padding-bottom: $footerHeight + 101px;
  flex-grow: 1;
  overflow-y: hidden;
  position: relative;
}
