@import 'styles/_var';

$pageHorizontalPadding: 22px;

.container {
  width: 100%;
  min-width: $pageMaxWidth + ($pageHorizontalPadding * 2);
  padding: 0 $pageHorizontalPadding;
  @include flex(row, flex-start);
}

.body {
  width: 100%;
  margin: 0 auto;
  max-width: $pageMaxWidth;
}
